* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --corBackground: #ffffff;
  --corPrimaria: #001f62;
  --corSegundaria: #001f62;
  background-color: var(--corBackground);
  width: 100vw;
  height: 100vh;
}

/* #grid {
  margin-bottom: 401px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 15fr 1fr;
} */

.titulo {
  background-color: var(--corPrimaria);
  text-transform: uppercase;
  border-radius: 8px 8px 0 0;
  padding: 4px;
  color: #ffffff;
}

.card-body-ato {
  max-width: 200px;
}

.card-atos {
  /* flex: 0 0 calc(14% - 10px); */
}

.card-link {
  cursor: pointer;
  background-color: #e3e0e0;
  color: #000000;
  min-height: 200px;
  transition: .3s;
}

.card-link:hover {

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.463);
}

#placeholder {
  display: flex;
  justify-content: center;
}

.col-6 {
  border: 2px solid #161f29;
  border-radius: 100px;
  width: 47rem;
  height: 40rem;
  margin-left: 0%;
}

.alert-primary {
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  background-color: #034b8280;
  color: white;
  transition: opacity 0.5s ease-in-out;
}

.bg-success {
  background-color: #001f62 !important;
}

.bg-default {
  background-color: #b3b5c2ce !important;
}

.bg-success-light {
  background-color: #001f62 !important;
}


.footer-uea {
  height: 2.2rem;

}

/* .teste{
    height: 40rem !important;
    background-color: #29161a !important;
} */

.page-item.active .page-link {
  color: #fafafa;
  background-color: var(--corPrimaria);
  border-color: var(--corPrimaria);
}

.page-link {
  color: #000000;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  background-color: #ffffff;
}

.page-link:hover {
  color: #006221;
  /* Defina a cor desejada para o hover */
}

.messages {
  transition: opacity 1s ease;
  color: #ff0404;
}

.btn-boletim {
  text-align: left;
  background-color: rgb(201, 201, 201);
  /* font-weight: 700; */
}

.btn-boletim:hover {
  background-color: rgb(139, 139, 139);
}

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        background: #00133b;
        background: linear-gradient(0deg, rgba(2, 25, 199, 0.564) 0%, rgb(33, 114, 255) 100%);
      }
    }
  }

  .card-footer {
    background: none;
    border-top: none;

    .media {
      img {
        border: solid 3px rgba(255, 255, 255, 0.3);
      }
    }
  }

  .card-title {
    font-weight: 800
  }

  .card-meta {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);


  }

  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #001f62;
    background: linear-gradient(0deg, rgba(33, 151, 255, 0.5) 0%, rgb(33, 114, 255) 100%);
  }
}

@media (max-width: 767px) {}

.color{
  color: #001f62;

}
.colorbotao{
  color: #fafafa;
  background-color: #001f62;

}
