{% load static %}
{% include 'parciais/head.html'%}
<style>
    .form-check-label {
        margin-left: 10px;
    }
</style>

<body>

    <form action="{% url 'salvar_laboratorio' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container">
            <div class="row justify-content-center p-4 ">

                <section class=" rounded" id="formulario_autoridade">

                    <div class="row gap-1">
                        <h5 class="titulo">Laboratorio</h5>

                        <input class="form-control" placeholder="Nome do laboratório" name="nome_laboratorio">
                        <textarea rows="3" class="form-control" placeholder="Descrição do laboratório" name="descricao"></textarea>

                    

                       

                        <input class="form-control" placeholder="Responsável pelo laboratório" name="responsavel">
                        <input class="form-control" placeholder="E-mail" name="email">
                        <input class="form-control" placeholder="Telefone" name="telefone">

                        <!-- Adicione o campo de envio de arquivo PDF -->
                        <div class="form-group">
                            <label for="pdf_unidade_academica">Ato de Criação:</label>
                            <input type="file" name="pdf_unidade_academica" id="pdf_unidade_academica" accept=".pdf" required>
                        </div>

                        <!-- Botão de envio -->
                        <button id="botao_proximo" type="submit" class="btn btn-success float-right">
                            Salvar
                        </button>

                    </div>
                </section>
            </div>
        </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>