{% load static %}

<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-rs">
    <div class="container-fluid">
      <a class="navbar-brand" href="/main">
        <img id="logo" src="{% static 'images/logobrancouea.png' %}" alt="##" class="img-fluid logo-size">
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="me-3">
          <div class="form-white input-group" style="width: 250px;">
            <input type="search" class="form-control rounded" placeholder="Pesquisar " aria-label="Search" aria-describedby="search-addon" name="filter" />
            <button type="submit" class="btn btn-secondary">Pesquisar</button>
          </div>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/edit/">Criar Laboratorio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/main">Visualizar Laboratorio</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row ms-auto me-3">
          <li class="nav-item me-3 me-lg-0 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa fa-door-open fa-2x " aria-hidden="true"></i> <!-- Ícone de porta -->
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
              <li>
                <a class="dropdown-item" href="{% url 'deslogar' %}">Sair</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const button = document.querySelector('.navbar-toggler');
    const navbar = document.querySelector('#navbarSupportedContent');
  
    button.addEventListener('click', function() {
      navbar.classList.toggle('show'); // Adicione ou remova a classe 'show' para expandir ou recolher a barra de navegação
    });
  });
</script>
