{% load static %}
{% include 'parciais/head.html' %}
<style>
    .form-check-label {
        margin-left: 10px;
    }
</style>

<body>
    {% include 'parciais/navbar.html' %}
    <div class="container">
        <!-- Adicione o código para exibir a mensagem de sucesso aqui -->
        {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form action="{% url 'editar_endereco' laboratorio_id=laboratorio.id %}" id="formulario_autoridade"
            method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="tab-content" id="myTabContent">
                {% include 'parciais/ferramentas.html' %}
                <section class="rounded" id="formulario_autoridade">
                    <!-- Guia Endereço -->
                    <div class="tab-pane " id="endereco-tab" role="tabpanel" aria-labelledby="endereco-tab">
                        <h5 class="titulo">Endereço</h5>

                        <input class="form-control " placeholder="Unidade acadêmica" name="unidade"
                            value="{% if laboratorio.unidade %}{{ laboratorio.unidade }}{% endif %}">
                        <input class="form-control" placeholder="Andar" name="andar"
                            value="{% if laboratorio.andar %}{{ laboratorio.andar }}{% endif %}">
                        <input class="form-control" placeholder="Sala" name="sala"
                            value="{% if laboratorio.sala %}{{ laboratorio.sala }}{% endif %}">
        
                        <input class="form-control" placeholder="Rua" name="rua"
                            value="{% if laboratorio.rua %}{{ laboratorio.rua }}{% endif %}">
                        <input class="form-control" placeholder="Número da rua" name="numero_rua"
                            value="{% if laboratorio.numero_rua %}{{ laboratorio.numero_rua }}{% endif %}">
                        <input class="form-control" placeholder="CEP" name="cep"
                            value="{% if laboratorio.cep %}{{ laboratorio.cep }}{% endif %}">
                        <input class="form-control" placeholder="Bairro" name="bairro"
                            value="{% if laboratorio.bairro %}{{ laboratorio.bairro }}{% endif %}">

                        <button id="botao_proximo_endereco" type="submit"
                            class="btn btn-success float-right">Salvar Endereço</button>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
