{% load static %}
{% include 'parciais/head.html' %}
<style>
    .form-check-label {
        margin-left: 10px;
    }



    /* Estilo para a lista de sugestões */
    #sugestoes-responsavel,
    #sugestoes-novo-responsavel {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    #sugestoes-responsavel li,
    #sugestoes-novo-responsavel li {
        cursor: pointer;
        padding: 5px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
    }

 .responsavel-associado {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    position: relative;
}

.responsavel-associado .info {
    margin-bottom: 10px;
}

.responsavel-associado .detalhes {
    display: none;
    margin-top: 10px;
}

.responsavel-associado .excluir-button {
    display: none;
    width: 8%;
}


.responsavel-associado.active .detalhes {
    display: block;
}



 .user-icon::after {
        content: "\1F464"; /* Código Unicode para o ícone do usuário */
        margin-left: 5px; /* Espaçamento entre o ícone e o texto, ajuste conforme necessário */
        font-size: 20px; /* Tamanho do ícone, ajuste conforme necessário */
    }




</style>

<body>
    {% include 'parciais/navbar.html' %}
    <form action="{% url 'editar_laboratorio' laboratorio_id=laboratorio.id imagem_id=0 %}" method="POST"
        enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container">
            <div class="row justify-content-center p-4 ">
                {% include 'parciais/ferramentas.html' %}

                <section class="rounded" id="formulario_autoridade">
                    <div class="row gap-1" id="endereco-tab">
                        <h5 class="titulo">Laboratório</h5>

                        {% if is_admin %}
                            <input class="form-control" placeholder="Nome do laboratório" name="nome_laboratorio"
                                value="{{ laboratorio.nome_laboratorio|default_if_none:'' }}">

                            <!-- Campo para o responsável com sugestões -->
                            <div class="input-group">
                                <input class="form-control" placeholder="Responsável pelo laboratório" name="responsavel"
                                    value="{{ laboratorio.responsavel|default_if_none:'' }}" id="responsavel">
                               <button type="button" class="btn btn-outline-secondary user-icon" onclick="adicionarNovoResponsavel()">
    +
</button>

                            </div>

                            <!-- Novo campo para adicionar responsável associado -->
                            <div id="novoResponsavelAssociadoContainer"></div>


                            <input type="hidden" id="cpf_responsavel_novo_responsavel_1" name="cpf_responsavel_novo_responsavel_1" value="">
                            <input type="hidden" id="user_ldap_responsavel_novo_responsavel_1" name="user_ldap_responsavel_novo_responsavel_1" value="">


                            <!-- Lista de sugestões -->
                            <ul id="sugestoes-responsavel"></ul>

                            <input class="form-control" placeholder="E-mail" name="email"
                                value="{{ laboratorio.email|default_if_none:'' }}">

                            <input class="form-control" placeholder="Telefone" name="telefone"
                                value="{{ laboratorio.telefone|default_if_none:'' }}">

                            <!-- <textarea rows="3" class="form-control" placeholder="Apresentação geral do laboratório"
                                name="apresentacao">{{ laboratorio.apresentacao|default_if_none:'' }}</textarea>

                            <textarea rows="3" class="form-control" placeholder="Objetivos do laboratório"
                                name="objetivos">{{ laboratorio.objetivos|default_if_none:'' }}</textarea> -->

                            <textarea rows="3" class="form-control"
                                placeholder="Descrição das atividades de pesquisa e ensino"
                                name="descricao">{{ laboratorio.descricao|default_if_none:'' }}</textarea>

                            <input class="form-control" placeholder="Link do PNIPe" name="link_pnipe"
                                value="{{ laboratorio.link_pnipe|default_if_none:'' }}">
                                <h5 class="titulo">Imagens do Laboratório</h5>
        
                                <!-- Campo de entrada de arquivo para adicionar uma nova imagem -->
                                <input type="file" name="imagem_laboratorio" accept="image/*" class="form-control mb-3">
        
                                <!-- Lista das imagens existentes com opções para excluir -->
                                <ul class="list-group mb-3">
                                    {% for imagem in laboratorio.imagens.all %}
                                    <li class="list-group-item">
                                        <!-- Exibe a imagem associada ao laboratório -->
                                        <img src="{{ imagem.imagem.url }}" alt="Imagem do Laboratório" width="100">
                                        <span class="float-right">
                                            <a href="{% url 'editar_laboratorio' laboratorio_id=laboratorio.id imagem_id=imagem.id %}"
                                                class="btn btn-danger btn-sm"
                                                onclick="return confirm('Deseja realmente excluir esta imagem?')">Excluir</a>
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                        {% else %}
                        
                            <!-- Campos bloqueados para usuários não admin -->
                            <input class="form-control" placeholder="Nome do laboratório" name="nome_laboratorio"
                                value="{{ laboratorio.nome_laboratorio|default_if_none:'' }}" readonly>

                            <input class="form-control" placeholder="Responsável pelo laboratório" name="responsavel"
                                value="{{ laboratorio.responsavel|default_if_none:'' }}" readonly>

                            <input class="form-control" placeholder="E-mail" name="email"
                                value="{{ laboratorio.email|default_if_none:'' }}" readonly>

                            <input class="form-control" placeholder="Telefone" name="telefone"
                                value="{{ laboratorio.telefone|default_if_none:'' }}" readonly>

                            <textarea rows="3" class="form-control" placeholder="Apresentação geral do laboratório"
                                name="apresentacao" readonly>{{ laboratorio.apresentacao|default_if_none:'' }}</textarea>

                            <textarea rows="3" class="form-control" placeholder="Objetivos do laboratório"
                                name="objetivos" readonly>{{ laboratorio.objetivos|default_if_none:'' }}</textarea>

                            <textarea rows="3" class="form-control"
                                placeholder="Descrição das atividades de pesquisa e ensino"
                                name="descricao" readonly>{{ laboratorio.descricao|default_if_none:'' }}</textarea>

                            <input class="form-control" placeholder="Link do PNIPe" name="link_pnipe"
                                value="{{ laboratorio.link_pnipe|default_if_none:'' }}" readonly>
                        {% endif %}

                        <!-- Demais campos -->

                        <!-- Botão de submit -->
                        <button id="botao_proximo" type="submit" class="btn btn-success float-right">Salvar</button>
                    </div>
            
                </section>

              <section class="rounded mt-4" id="responsaveis-associados">
    <h5 class="titulo">Responsáveis Associados</h5>

    {% for responsavel_associado in laboratorio.responsaveis_associados.all %}
        <div class="responsavel-associado" onclick="exibirDetalhes(this)">
    <p class="info">{{ responsavel_associado.nome }}</p>
    <div class="detalhes" style="display: none;">
        <strong><p>CPF: {{ responsavel_associado.cpf }}</p>
        <p>USER_LDAP: {{ responsavel_associado.user_ldap }}</p></strong>
        <button class="btn btn-danger excluir-button" onclick="excluirResponsavelAssociado(event, '{{ laboratorio.id }}', '{{ responsavel_associado.id }}')">Excluir</button>
    </div>
</div>

    {% endfor %}
</section>



            </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Seu script atual -->
    <script>
        $(function() {
            $("#responsavel").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "/buscar_nomes/",
                        type: "GET",
                        data: {
                            term: request.term
                        },
                        dataType: "json",
                        success: function(data) {
                            console.log("DEBUG: Dados recebidos:", data);

                            var mappedData = data.map(function(item) {
                                return {
                                    label: item.label,
                                    value: item.value,
                                    cpf: item.cpf,
                                    user_ldap: item.user_ldap
                                };
                            });

                            response(mappedData);
                        }
                    });
                },
                classes: {
                    "ui-autocomplete": "bg-white list-group-item list-group-item-action",
                },
                minLength: 2,
                messages: {
                    noResults: '',
                    results: function() {}
                },
                select: function(event, ui) {
                    console.log("DEBUG: CPF selecionado:", ui.item.cpf);
                    console.log("DEBUG: USER_LDAP correspondente:", ui.item.user_ldap);

                    // Atualize os campos ocultos com CPF e USER_LDAP selecionados
                    $("#cpf_responsavel").val(ui.item.cpf);
                    $("#user_ldap_responsavel").val(ui.item.user_ldap);
                }
            });
        });

      // Defina a variável contadorResponsaveis fora da função
var contadorResponsaveis = 1;

 function adicionarNovoResponsavel() {
            // Remova os campos existentes antes de adicionar um novo
            $("#novoResponsavelAssociadoContainer").empty();

            var novoResponsavelHtml = `
                <div class="input-group mt-2" id="novoResponsavel${contadorResponsaveis}">
                    <input type="text" class="form-control novoResponsavelAutocomplete" placeholder="Novo Responsável Associado" name="novo_responsavel_${contadorResponsaveis}">
                    <input type="hidden" class="cpf_responsavel" id="cpf_responsavel_${contadorResponsaveis}" name="cpf_responsavel_${contadorResponsaveis}" value="">
                    <input type="hidden" class="user_ldap_responsavel" id="user_ldap_responsavel_${contadorResponsaveis}" name="user_ldap_responsavel_${contadorResponsaveis}" value="">
                    <button type="button" class="btn btn-outline-secondary" onclick="removerResponsavel(${contadorResponsaveis})">-</button>
                </div>
            `;
            $("#novoResponsavelAssociadoContainer").append(novoResponsavelHtml);

            // Ativar a função de autocompletar para o novo responsável
            var novoResponsavelAutocomplete = $(`#novoResponsavel${contadorResponsaveis} .novoResponsavelAutocomplete`);
            var cpfHiddenInput = $(`#cpf_responsavel_${contadorResponsaveis}`);
            var userLdapHiddenInput = $(`#user_ldap_responsavel_${contadorResponsaveis}`);

            novoResponsavelAutocomplete.autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/buscar_nomes/",
                        type: "GET",
                        data: {
                            term: request.term
                        },
                        dataType: "json",
                        success: function (data) {
                            console.log("DEBUG: Dados recebidos para novo responsável associado:", data);

                            var mappedData = data.map(function (item) {
                                return {
                                    label: item.label,
                                    value: item.value,
                                    cpf: item.cpf,
                                    user_ldap: item.user_ldap
                                };
                            });

                            response(mappedData);
                        }
                    });
                },
                minLength: 2,
                messages: {
                    noResults: '',
                    results: function () { }
                },
                select: function (event, ui) {
                    console.log("DEBUG: CPF selecionado para novo responsável associado:", ui.item.cpf);
                    console.log("DEBUG: USER_LDAP correspondente para novo responsável associado:", ui.item.user_ldap);

                    // Atualize os campos ocultos do novo responsável associado específico
                    cpfHiddenInput.val(ui.item.cpf);
                    userLdapHiddenInput.val(ui.item.user_ldap);
                }
            });

            contadorResponsaveis++;
        }










function removerResponsavel(id) {
    $(`#novoResponsavel${id}`).remove();
}





function exibirDetalhes(element) {
    var responsavelAssociado = $(element);
    var detalhes = responsavelAssociado.find(".detalhes");
    detalhes.slideToggle();
    responsavelAssociado.find(".excluir-button").toggle();
    responsavelAssociado.toggleClass("active"); // Adicionado para controlar o estado ativo
}

  let isExclusaoEmAndamento = false;

async function excluirResponsavelAssociado(event, laboratorioId, responsavelId) {
    event.preventDefault();

    // Adiciona um modal de confirmação
    const confirmacao = confirm("Tem certeza que deseja excluir esse responsável associado?");
    if (!confirmacao) {
        return;
    }

    if (isExclusaoEmAndamento) {
        console.log("DEBUG: Exclusão em andamento, aguarde...");
        return;
    }

    isExclusaoEmAndamento = true;

    const csrftoken = getCookie('csrftoken');

    try {
        const response = await fetch(`/excluir_responsavel_associado/${laboratorioId}/${responsavelId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        });

        if (response.ok) {
            // Remova o responsável associado da lista visual imediatamente
            $(`.responsavel-associado[data-responsavel-id="${responsavelId}"]`).remove();

            // Atualize a página após a exclusão
            location.reload();
        } else {
            console.error("Erro ao excluir responsável associado:", response.statusText);
        }
    } catch (error) {
        console.error("Erro ao excluir responsável associado:", error);
    } finally {
        isExclusaoEmAndamento = false;
    }
}

function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
}


    </script>
</body>
