{% load static %}
{% include 'parciais/head.html' %}
{% include 'parciais/navbar.html' %}
{% include 'parciais/ferramentas.html' %}

<div class="container">
  <div class="card">

    <div class="card-header">
      <h2 class="text-center">Informações de Infraestrutura</h2>
    </div>

    <div class="card-body p-2">

      {% if infraestruturas %}
      
      <table class="table table-striped table-hover table-responsive">
        <thead>
          <tr>
            <th>Status</th>
            <th>Equipamento</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Finalidade</th>
            <th>Tombo</th>
            <th>Quantidade</th>
            <th>Ações</th>

          </tr>
        </thead>
        {% for laboratorio_infraestrutura in infraestruturas %}

        <tbody>
          <tr>

            <td>
              {% if laboratorio_infraestrutura.status == True %}
              <div class="status  bg-warning rounded-circle">

              </div>
              {% endif %}
              {% if laboratorio_infraestrutura.status == False %}
              <div class="status  bg-warning-2 rounded-circle">

              </div>
              {% endif %}
            </td>
            <td>{{ laboratorio_infraestrutura.equipamento.nome_equipamento}}</td>
            <td>{{ laboratorio_infraestrutura.marca.nome_marca }}</td>
            <td>{{ laboratorio_infraestrutura.modelo }}</td>
            <td>{{ laboratorio_infraestrutura.finalidade|default_if_none:'' }}</td>
            <td>{{laboratorio_infraestrutura.tombo}}</td>
            <td>{{laboratorio_infraestrutura.quantidade}}</td>
            <td class="d-flex">

              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal{{laboratorio_infraestrutura.id}}">
                Visualizar
              </button>

              <form action="{% url 'delete_infra' laboratorio_id=laboratorio_infraestrutura.id %}">
                <button type="submit" class="btn btn-danger">Excluir</button>
              </form>

            </td>

          </tr>
        </tbody>
        {% endfor %}

      </table>

      {% else %}
      <p>Nenhuma infraestrutura encontrada para este laboratório.</p>
      {% endif %}

      <!-- Adicione aqui outras informações relevantes da infraestrutura -->
    </div>
  </div>

  <div class="card rounded mt-4">
    <div class="card-header">
      <h2 class="text-center">Adicionar Nova Infraestrutura</h2>
    </div>

    <div class="card-body">
      <form method="post" enctype="multipart/form-data" class="row">
        {% csrf_token %}

        <div class="input-group mb-3">
          <select class="form-control" id="novo_equipamento" name="equipamento" required>
            <option value="">Escolha um equipamento</option>
            {% for equipamento in equipamentos %}
            <option value="{{ equipamento.id }}">{{ equipamento.nome_equipamento }}</option>
            {% endfor %}
          </select>
        
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal-e">
            Adicionar Equipamento
          </button>



        </div>

        <div class="input-group col-md-6 col-sm-12">
          <select class="form-control" id="nova_marca" name="marca" required>
            <option value="">Escolha uma marca</option>
            {% for marca in marcas %}
            <option value="{{ marca.id }}">{{ marca.nome_marca }}</option>
            {% endfor %}
          </select>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal-m">
            Adicionar Marca
          </button>

        </div>

        <div class="col-md-6 col-sm-12">
          <label for="novo_modelo" class="mt-3 fw-bold">Modelo</label>
          <input type="text" id="novo_modelo" name="modelo" class="form-control shadow-sm">
        </div>

        <div class="col-md-6 col-sm-12">
          <label for="nova_finalidade" class="mt-3 fw-bold">Finalidade:</label>
          <input type="text" id="nova_finalidade" name="finalidade" class="form-control shadow-sm">
        </div>

        <div class="col-md-6 col-sm-12">
          <label for="tombo" class="mt-3 fw-bold">Tombo:</label>
          <input type="text" id="tombo" name="tombo" class="form-control shadow-sm">
        </div>

        <div class="col-md-6 col-sm-12">
          <label for="quantidade" class="mt-3 fw-bold">Quantidade:</label>
          <input type="number" id="quabtidade" name="quantidade" class="form-control shadow-sm">
        </div>

        <div class="col-md-6 col-sm-12">
          <label for="nova_imagem" class="mt-3 fw-bold">Imagens da Infraestrutura</label>
          <input type="file" class="form-control" id="nova_imagem" name="nova_imagem" multiple>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary mt-3" name="salvar_infraestrutura">Adicionar
            Infraestrutura</button>
        </div>

        {% if form.errors %}
        <div class="alert alert-danger mt-3"><strong>Erro no formulário:</strong> {{ form.errors }} </div>
        {% endif %}
      </form>
    </div>
  </div>

  {% for laboratorio_infraestrutura in infraestruturas %}
  <div class="modal fade" id="exampleModal{{laboratorio_infraestrutura.id}}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ">
          <div class="d-flex">
            {% if laboratorio_infraestrutura.status == True %}
            <div class="status  bg-warning rounded-circle">

            </div>
            <span class="m-2">Ativo</span>
            {% endif %}
            {% if laboratorio_infraestrutura.status == False %}
            <div class="status  bg-warning-2 rounded-circle">

            </div>
            <span class="m-2">Em Manutenção</span>
            {% endif %}
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="w-100">
            {% for imagem in laboratorio_infraestrutura.imagens_infraestrutura.all %}
            <img src="{{ imagem.imagem.url }}" alt="{{ imagem.descricao }}" title="{{ imagem.titulo }}" width="450">
            {% endfor %}
          </div>


          <div>

            <h2>{{ laboratorio_infraestrutura.equipamento.nome_equipamento}}</h2>
            <h4>{{ laboratorio_infraestrutura.marca.nome_marca }}</h4>
            <strong>{{ laboratorio_infraestrutura.modelo }}</strong>
            <p>{{ laboratorio_infraestrutura.finalidade}}</p>
          </div>

        </div>
        <div class="modal-footer">
          <a type="button" href="{% url 'change_status' id=laboratorio_infraestrutura.id  %}"
            class="btn btn-primary">Mudar Status</a>
        </div>
      </div>
    </div>
  </div>
  
 

  {% endfor %}

  <div class="modal fade" id="exampleModal-e" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form method="POST" action="{% url 'adicionar_equipamento' %}">
        {% csrf_token %}

        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Equipamento</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input  class="form-control" type="text" name="nome_equipamento" placeholder="Nome do Equipamento" />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </form>
  
      </div>
    </div>
  </div>
  


  <div class="modal fade" id="exampleModal-m" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form method="POST" action="{% url 'adicionar_equipamento' %}">
        {% csrf_token %}

        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Marca</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input class="form-control mt-2" type="text" name="nome_marca" placeholder="Nome da marca" >
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </form>
  
      </div>
    </div>
  </div>
  

  </body>

  </html>

  <style>
    table {
      width: 100%;
    }

    th,
    td {
      padding: 5px;
    }

    th {
      background-color: #f8f8f8;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    td img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  </style>