<!DOCTYPE html>
<html lang="pt-br">
{% include 'parciais/head.html' %}

<body>
	<div id="grid">
		<div id="conteudo_core">

			{% include 'parciais/navbar.html'%}

			<form id="form_pesquisa" method="GET" action="{% url 'pesquisar' %}"
				class="p-3 w-100 d-flex justify-content-end form-inline caixa_de_pesquisa">
				<div>
					<input class="form-control mr-sm-2" id="filter" type="search" name="texto" placeholder="Pesquisar">
				</div>

				<div>
				</form>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Launch demo modal
  </button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Exportar Laboratórios</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <form method="POST" action="{% url 'export_to_excel' %}">
			{% csrf_token %}
			<p>
				<input class="form-check-input" type="checkbox" name="export_all" id="export_all" value="1">
				<label class="form-check-label" for="export_all">Todos Laboratórios</label>
			  </p>
			  
			<div class="accordion" id="accordionExample">
				
				<div class="accordion-item">
				  <h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Unidades
					</button>
				  </h2>
				  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
					<div class="accordion-body">
					{% for laboratorio in lab %}
						<div class="form-check">
						<input class="form-check-input" type="checkbox" name="unidade" value="{{ laboratorio.unidade }}" id="unidade_{{ laboratorio.id }}">
						<label class="form-check-label" for="unidade_{{ laboratorio.id }}">{{ laboratorio.unidade }}</label>
						</div>
					{% endfor %}
					</div>
				  </div>
				</div>
				<div class="accordion-item">
				  <h2 class="accordion-header" id="headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Laboratorios por Unidade
					</button>
				  </h2>
				  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
					<div class="accordion-body wrapper">
					{% for laboratorio in lab %}
						<a class="dropdown-toggle text-dark" data-bs-toggle="collapse" href="#collapseExample_{{laboratorio.id}}" role="button" aria-expanded="false" aria-controls="collapseExample_{{laboratorio.id}}" style="text-decoration:none">
							{{laboratorio.unidade}}
						</a>
						<br>
						<div class="collapse" id="collapseExample_{{laboratorio.id}}">
							<div class="card card-body">
							{% for lab_item in lab %}
								{% if lab_item.unidade == laboratorio.unidade %}
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="laboratorios" value="{{ laboratorio.id }}" id="laboratorio_{{ laboratorio.id }}">
										<label class="form-check-label" for="laboratorio_{{ laboratorio.id }}">{{ laboratorio.nome_laboratorio }}</label>
									</div>
								{% endif %}
							{% endfor %}
							</div>
						</div>

				  	{% endfor %}
					</div>
				  </div>
				</div>
			  </div>
			
		</div>
		<div class="modal-footer">
		  <button type="submit" class="btn btn-secondary">Exportar</button>
		</div>
		</form>

	  </div>
	</div>
  </div>
  
				  </div>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col text-center mb-5">
							<h1 class="display-3 font-weight-bolder">Laboratorios UEA</h1>
						</div>
					</div>
					<div class="row justify-content-center gap-4">
						{% for laboratorio in laboratorios %}
						<div class="col-sm-6 col-md-4 col-lg-2 mb-4">
							<a href="{% url 'visualizar_laboratorio' laboratorio_id=laboratorio.id %}"
								class="text-dark">
								<div class="card " style="width: 18rem;">
									<img src="{{ laboratorio.imagens.last.imagem.url }}" style="max-height: 15em;"
										class="img-fluid img-thumbnail" alt="Imagem do Laboratório">
									<div class="card-body">
										<h5 class="card-title">{{ laboratorio.nome_laboratorio }}</h5>
										<small class="card-meta mb-2">{{ laboratorio.descricao|slice:":99" }}</small>
										<p class="card-text">{{ laboratorio.data_criacao|date:"F d, Y" }}</p>
									</div>
									<div class="card-footer">
										<div class="media">
											<div class="media-body">
												<h6 class="my-0 text-dark d-block">{{ laboratorio.responsavel }}</h6>
												<small>{{ laboratorio.unidade|default_if_none:'' }}</small>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
					<!-- Adicionando um novo card -->
				</div>
			</div>
			{% include 'parciais/footer.html'%}
		</div>
	</div>
</body>

</html>