{% load static %}

{% include 'parciais/head.html' %}

<body>
    {% include 'parciais/navbar.html' %}

    <div class="container">
        {% include 'parciais/ferramentas.html' %}

        <div class="card mt-4">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3>Membros do Laboratório</h3>
                </div>
            </div>
            <div class="card-body">
                {% if membros %}
                    <ul>
                        {% for membro in membros %}
                            <li>
                                <p class="card-title">Nome do Membro: {{ membro.nome_membro }}</p>
                                <p class="card-title">Função: {{ membro.funcao }}</p>
                                <p class="card-title">Currículo Lattes: <a href="{{ membro.curriculo_lattes }}" target="_blank">{{ membro.curriculo_lattes }}</a></p>
                                <!-- Outras informações do membro, se houver -->
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhum membro encontrado para este laboratório.</p>
                {% endif %}
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            
            <!-- Campos para adicionar novo membro -->
            <div class="form-group">
                <label for="novo_nome_membro">Nome do Membro</label>
                <input type="text" class="form-control" id="novo_nome_membro" name="nome_membro" required>
            </div>
            <div class="form-group">
                <label for="nova_funcao">Função</label>
                <select class="form-control" id="nova_funcao" name="funcao" required>
                    <option value="">Escolha uma função</option>
                    <option value="Técnico">Técnico</option>
                    <option value="Discente">Discente</option>
                    <option value="Docente">Docente</option>
                </select>
            </div>
            <div class="form-group">
                <label for="novo_curriculo_lattes">Currículo Lattes (URL)</label>
                <input type="url" class="form-control" id="novo_curriculo_lattes" name="curriculo_lattes">
            </div>
            
            
            <!-- Adicione aqui outros campos relevantes para o membro -->
            
            <button type="submit" class="btn btn-primary mt-4" name="adicionar_membro">Adicionar Membro</button>
        </form>
        <!-- Adicione aqui um formulário para adicionar novos membros, se necessário -->
    </div>
</body>
</html>
